<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container my-2">
    <h1>Skill List</h1>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Level</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="skill : ${skills.content}">
            <td th:text="${skill.level}"></td>
            <td th:text="${skill.name}"></td>
        </tr>
        </tbody>
    </table>

    <hr>

    <a th:href = "@{/}"> Back to member List</a>
</div>
</body>
</html>